# SPDX-FileCopyrightText: 2025 The Orthros Developers
#
# SPDX-License-Identifier: AGPL-3.0-only

#!/usr/bin/env bash
# Used by https://direnv.net

# Automatically reload when this file changes
watch_file devshell.nix

# Load `nix develop`
use flake . --impure

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
