# SPDX-FileCopyrightText: 2025 The Orthros Developers
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Conventional Commits

on:
  pull_request:
    branches: [ main ]

jobs:
  test-commit-messages:
    name: Test commit message(s)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: webiny/action-conventional-commits@v1.3.0
